/* --------- service css --------- */
.service-area {
    padding: 100px 0;
}
.sevice-content-left {
    text-align: right;
    padding-right: 60px;
}
.sevice-content-right {
    padding-left: 60px;
}
.sevice-wrapper {
    margin: 50px 0;
}
.sevice-content-left h5, .sevice-content-right h5 {
    color: #363636;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 16px;
}
.sevice-content-left p, .sevice-content-right p {
    color: #999999;
    font-size: 14px;
}
.service-icon {
    font-size: 36px;
    color: #db2d2e;
    margin-bottom: 20px;
}
/* ---------- media query ---------- */
@media only screen and (max-width:575px) {
    .service-area {
        padding: 30px 0;
    }
    .sevice-content-left {
        text-align: center;
        padding-right: 0;
    }
    .sevice-wrapper {
        margin: 30px 0;
    }
    .service-icon {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .sevice-content-left h5, .sevice-content-right h5 {
        margin-bottom: 10px;
    }
    .sevice-content-right {
        padding-left: 0;
        text-align: center;
    }
}
@media only screen and (min-width:575px) and (max-width:767px) {
    .service-area {
        padding: 30px 0;
    }
    .sevice-content-left {
        text-align: center;
        padding-right: 0;
    }
    .sevice-wrapper {
        margin: 30px 0;
    }
    .service-icon {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .sevice-content-left h5, .sevice-content-right h5 {
        margin-bottom: 10px;
    }
    .sevice-content-right {
        padding-left: 0;
        text-align: center;
    }
}