/* --------- product css ---------- */
.single-products {
    background: #fff;
    margin-bottom: 30px;
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.15);
}
.products-bg .section-title {
    text-align: center;
    color: #fff;
}

.single-products img {
    height: 195px;
    width: 100%;
}
.product-info {
    height: 170px;
}
.product-des {
    text-align: center;
    padding: 30px 20px;
}
.single-products h5 {
    color: #db2d2e;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}
.single-products p {
    color: #363636;
    font-size: 14px;
}
.regular-btn {
    background: #db2d2e;
    border: 0;
    padding: 8px 25px;
    color: #fff;
    text-transform: capitalize;
    font-weight: 500;
    border-radius: 5px;
}
p.price {
    font-size: 18px;
    font-weight: 600;
}
.single-products button.regular-btn.delete-btn {
    display: none;
}
/* ---------- media query ---------- */
@media only screen and (max-width:575px) {
    .single-products img {
        height: auto;
    }
}
@media only screen and (min-width:575px) and (max-width:767px) {
    .single-products img {
        height: auto;
    }
}