.mange-orders .update-btn {
    display: inline-block;
}
.section-title.dashboard {
    text-align: center;
}

.section-title.dashboard h2 {
    color: #363636;
    margin-bottom: 30px;
    font-size: 30px;
}

.mange-orders {
    padding: 60px 0;
}
/* ---------- media query ---------- */
@media only screen and (max-width:575px) { 
    .section-title.dashboard h2 {
        margin-bottom: 30px;
        font-size: 23px;
    }
    .orders-list {
        display: none;
    }
    
}
@media only screen and (min-width:575px) and (max-width:767px) {
    .section-title.dashboard h2 {
        margin-bottom: 30px;
        font-size: 23px;
    }
    .orders-list {
        display: none;
    } 
}