.orders {
    padding: 80px 0;
}
.orders-list {
    display: flex;
    list-style: none;
    background: #363636;
    padding: 15px 0;
    align-items: center;
    margin-bottom: 30px;
}
.orders-list li {
    color: #fff;
    text-transform: capitalize;
    font-size: 18px;
}
.orders-list li:nth-child(1){
    width: 23%;
    padding-left: 15px;
}
.orders-list li:nth-child(2){
    width: 19%;
    padding-left: 15px;
}
.orders-list li:nth-child(3){
    width: 24%;
    padding-left: 15px;
}
.orders-list li:nth-child(4){
    width: 11%;
    padding-left: 15px;
}
.orders-list li:nth-child(5){
    width: 9%;
    padding-left: 15px;
}
.orders-list li:nth-child(6){
    width: 14%;
}

