.dashboard-area {
    padding-top: 50px;
}
.side-navbar {
    background: #303030;
    height: 100vh;
}
.side-navbar {
    padding-left: 30px;
    padding-top: 30px;
}

.side-navbar a {
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    margin: 25px 0;
    font-weight: 500;
}