/* -------- order product css -------- */
.order-product .order-list-lg {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 15px 0;
    margin: 0;
}
.order-product:nth-child(odd){
    background-color: #f9f9f9;
}
.order-product .order-list-lg li {
    color: #363636;
    font-size: 14px;
}
.order-product li .cancel-btn, .update-btn {
    border: 0;
    background: no-repeat;
    color: #db2d2e;
    font-weight: 500;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.order-product li button:hover {
    background: #db2d2e;
    color: #fff;

}
.order-product .update-btn {
    display: none;
}
.order-product li .update-btn  {
    color: #42ba96;
}
.order-product li button.update-btn:hover {
    background: #42ba96;
    color: #fff;

}
.order-product .order-list-lg li:nth-child(1){
    width: 24%;
    color: #db2d2e;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.order-product .order-list-lg li:nth-child(2){
    width: 20%;
}
.order-product .order-list-lg li:nth-child(3){
    width: 24%;
}
.order-product .order-list-lg li:nth-child(4){
    width: 10%;
}
.order-product .order-list-lg li:nth-child(5){
    width: 10%;
    text-align: center;
}
.order-product .order-list-lg li:nth-child(6){
    width: 6%;
}
.order-product .order-list-lg li:nth-child(7){
    width: 4%;
}
.order-product .order-list-lg li:nth-child(7){
    width: 4%;
}
.order-product .order-list-lg li img {
    width: 80px;
    margin-right: 10px;
}

ul.order-list-sm {
    list-style: none;
    padding: 15px 0 0 0;
    display: none;
}

ul.order-list-sm li:nth-child(1) {
    display: flex;
}

ul.order-list-sm li img {
    width: 100px;
    margin-right: 14px;
}

ul.order-list-sm li span {
    font-size: 14px;
}

ul.order-list-sm li {
    margin-bottom: 10px;
}
ul.order-list-sm li span:nth-child(1) {
    color: #db2d2e;
    margin-right: 1px;
}
/* ---------- media query ---------- */
@media only screen and (max-width:575px) { 
    .order-product .order-list-lg{
        display: none !important;
    }
    .order-product  .order-list-sm {
        display: block !important;
    }
}
@media only screen and (min-width:575px) and (max-width:767px) {
    .order-product .order-list-lg{
        display: none !important;
    }
    .order-product  .order-list-sm {
        display: block !important;
    }
}